@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 769px) {
    .container {
        width: 30%;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

html {
    font-family: Arial, sans-serif;
}

.form-input {
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 36px;
}

.form-button {
    border-radius: 3px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #0461CF;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    text-align: center;
}

.form-button:hover {
    background-color: #0072FF;
}